@import "tailwindcss";
@import url('https://googleapis.com');

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent-bg: rgba(170, 59, 255, 0.1);
   --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);

  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
    scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(circle, #d4d4d482 , #ffffff );
  scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
p{
  font-family: 'Inter' , sans-serif;
}

.lqglass
{
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px) saturate(1.8) brightness(1.15) contrast(1.05);
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.15),
        inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.5),
        inset 0 0 12px rgba(255, 255, 255, 0.2),
        0 4px 20px rgba(0, 0, 0, 0.1);
        transition: 300ms;
}
.lqglass:hover
{
    background: rgba(0, 0, 0, 0.036);
}
.pulse-light {
    animation: pulse-light 1s ease-in-out infinite;
}

@keyframes pulse-light {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 0px rgba(34, 197, 94, 0);
    }

    50% {
        opacity: 0.2;
        transform: scale(0.7);
        box-shadow: 0 0 10px rgba(34, 197, 94, 0.8);
    }
}
#onas {
    scroll-margin-top: 120px;
}
#oferta {
    scroll-margin-top: 110px;
}
#pakiety {
    scroll-margin-top: 140px;
}
#portfolio {
    scroll-margin-top: 120px;
}
#kontakt {
    scroll-margin-top: 120px;
}
.checked input:invalid,
.checked textarea:invalid {
    border: 1px solid red;
}